<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="SENDGRID_WEBHOOK_FILE"
              class="ch.qos.logback.core.FileAppender">

        <file>logs/sengridwebhook.log</file>

        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level %logger - %msg%n
            </pattern>
        </encoder>

    </appender>

    <logger name="com.example.web.controller.EmailWebhookController"
            level="INFO"
            additivity="false">

        <appender-ref ref="SENDGRID_WEBHOOK_FILE"/>

    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>